body
{
	background-color:#e6e6e6;
}

#container
{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}

#logo
{
	clear:both;
	background-color:#0055BB;
	color:white;
	text-align:center;
	font-family: 'Roboto Condensed', sans-serif;
	padding:10px;
}

#logo h1 
{
	font-size:40px;
	text-align:center;
}

.topnav {
  position: relative;
  overflow: hidden;
  height:40px;
  font-size:20px;
  width:100%;
}

.topnav ul
{
	float:none;
	display:block;
	list-style-type:none;
	padding:0px;
	margin-top:0px;
	height:100%;

}

.topnav ul li a
{
	display:block;
	float:left;
	background:#3081f2;
	text-align:center;
	width:198px;
	height:40px;
	padding-top:5px;
	color:#e5e81c;
	text-decoration:none;
	border: 1px solid navy;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 2px 3px gray;
	-moz-box-shadow: 0px 2px 3px gray;
	-webkit-box-shadow: 0px 2px 3px gray;
}

.topnav ul li a:hover
{
	background: #4192f3;
}

#content
{
	float:left;
	padding:20px;
	width:780px;
	height:600px;
	background-color:#9fcdf5;	
	font-family: 'Open Sans', sans-serif;
	font-size:10px;
	overflow:auto;
}

#content h1
{
	font-size:30px;
	text-align:center;
	color:#0F6732;
}

#content h6
{
	font-size:16px;
	text-align:justify;
}

#panelboczny
{
	float:left;
	width:160px;
	height:600px;
	padding:20px 10px;
	background-color:#5d98f0;
}

#formularz_dane
{
	display:block;
	width:170px;
	padding:20px;
	background-color:#0d74bd;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	border-radius:10px;
	-webkit-box-shadow: 2px 4px 24px 0px rgba(16,14,66,1);
	-moz-box-shadow: 2px 4px 24px 0px rgba(16,14,66,1);
	box-shadow: 2px 4px 24px 0px rgba(16,14,66,1);

}

#formularz_dane label
{
	display:block;
	text-align:center;
	font-size:20px;
	color:#f5f5d3;
	margin-top:20px;
	margin-bottom:5px;
}

#formularz_dane input[type=text],input[type=number], input[type=date]
{
	display:block;
	clear:both;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:7px;
	width:130px;
	box-sizing: border-box;
	text-align:center;
	background-color:#d3eced;
	border-radius:5px;
}

#formularz_dane input[type=text]:focus,input[type=number]:focus, input[type=date]:focus, textarea:focus,
#formularz_bilans input[type=text]:focus,input[type=number]:focus, input[type=date]:focus, textarea:focus
{
	border: 2px solid #0055BB;
	border-radius: 4px;
	background-color: #e6ffff;
}

#formularz_dane input[type=text]:disabled,input[type=number]:disabled, input[type=date]:disabled, textarea:disabled,
#formularz_bilans input[type=text]:disabled,input[type=number]:disabled, input[type=date]:disabled, textarea:disabled
{
	background-color: #C0CBD1;
}

#formularz_dane  textarea
{
	display:block;
	width:150px;
	margin-left:auto;
	margin-right:auto;
	background-color:#d3eced;
	padding-top:0px;
	border-radius:5px;
}

#formularz_dane input[type=submit], input[type=button],
#formularz_bilans input[type=submit], input[type=button]
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width: 100px;
	background-color: #36b03c;
	font-size:20px;
	color: white;
	padding: 5px 5px;
	margin-top: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

#formularz_dane input[type=submit]:focus,
input[type=button]:focus,
#formularz_bilans input[type=submit]:focus,
input[type=button]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

#formularz_dane input[type=submit]:hover,
input[type=button]:hover,
#formularz_bilans input[type=submit]:hover,
input[type=button]:hover
{
	background-color: #37b93d;
}

#formularz_dane .container
{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
#formularz_dane .container input,
#formularz_bilans .container input 
{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
#formularz_dane .checkmark,
#formularz_bilans .checkmark  
{
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
#formularz_dane .container:hover input ~ .checkmark,
#formularz_bilans .container:hover input ~ .checkmark
{
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
#formularz_dane .container input:checked ~ .checkmark,
#formularz_bilans .container input:checked ~ .checkmark  
{
  background-color: #37b93d;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
#formularz_dane .checkmark:after,
#formularz_bilans .checkmark:after
{
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
#formularz_dane .container input:checked ~ .checkmark:after, 
#formularz_bilans .container input:checked ~ .checkmark:after
{
  display: block;
}

/* Style the indicator (dot/circle) */
#formularz_dane .container .checkmark:after,
#formularz_bilans .container .checkmark:after
{
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

#formularz_bilans
{
	display:block;
	width:700px;
	height:170px;
	padding:5px;
	background-color:#0d74bd;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	border-radius:10px;
	-webkit-box-shadow: 2px 4px 24px 0px rgba(16,14,66,1);
	-moz-box-shadow: 2px 4px 24px 0px rgba(16,14,66,1);
	box-shadow: 2px 4px 24px 0px rgba(16,14,66,1);
}

#formularz_bilans .container 
{
  display: inline-block;
  position: relative;
  padding-left: 30px;
  padding-right:30px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#formularz_bilans input[type=text],input[type=number], input[type=date]
{
	display:inline-block;
	margin-bottom:7px;
	width:130px;
	box-sizing: border-box;
	text-align:center;
	background-color:#d3eced;
	border-radius:5px;
}

#formularz_bilans label
{
	display:inline-block;
	text-align:center;
	font-size:20px;
	color:#f5f5d3;
	margin-top:20px;
	margin-bottom:12px;
}

#bilans_tab
{	
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
}

#bilans_tab tr
{
	border: 1px solid black;	
}

#bilans_tab td:nth-child(1)
{
	font-size:20px;
	width:200px;
	color:#26038f;
	text-align:center;
	border: 1px solid black;
}

#bilans_tab td:nth-child(2)
{
	font-size:20px;
	width:50px;
	color:#26038f;
	text-align:left;
	padding-left:20px;
	border: 1px solid black;
}

.sidepanel
{
	clear:both;
	width:150px;
	height:80px;
	background-color:#2973e3;
	border-radius:10px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:10px;
	-webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
	
}

.sidepanel h1
{
	font-size:16px;
	font-family: 'Patrick Hand', cursive;
	color:white;
	background:#1862d2;
	margin:0;
	border-radius:10px 10px 0 0;
	padding:4px 0;
}

.sidepanel p
{
	text-align:center;
	font-weight:normal;
	color:#124426;
}

#login_panel
{
	clear:both;
	width:150px;
	height:150px;
	background-color:#2973e3;
	border-radius:10px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:10px;
	-webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
}

#login_panel input[type=text],input[type=password]
{
  width: 130px;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top:5px;
  margin-bottom:5px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

#login_panel input[type=text]:focus,
input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px #0751c1;
	-moz-box-shadow: 0px 0px 10px 2px #0751c1;
	box-shadow: 0px 0px 10px 2px #0751c1;
	border: 2px solid #0055BB;
	border-radius: 4px;
	background-color: #e6ffff;
}

#login_panel input[type=submit]
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width: 100px;
	background-color: #36b03c;
	font-size:20px;
	color: white;
	padding: 5px 5px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

#login_panel input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

#login_panel input[type=submit]:hover
{
	background-color: #37b93d;
}

#login_panel h1
{
	color:white;
	font-size:16px;
	font-family: 'Patrick Hand', cursive;
	background:#1862d2;
	margin:0;
	border-radius:10px 10px 0 0;
	padding:4px 0;
}

#login_panel p
{
	text-align:center;
	font-weight:normal;
	color:#124426;
}

#footer
{
	clear:both;
	background-color:#0055BB;
	color: white;
	text-align:center;
	height:30px;
	padding:3px;
}

h1 
{
	font-size:40px;
	text-align:center;
}

h2
{
	font-size:20px;
	text-align:center;
}

h3
{
	font-size:15px;
	text-align:justify;
}

h6
{
		font-size:12px;
}
