body
{
	background-color:#e6e6e6;
}

#container
{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}

#logo
{
	clear:both;
	background-color:#0055BB;
	color:white;
	text-align:center;
	font-family: 'Roboto Condensed', sans-serif;
	padding:10px;
}

.topnav {
  position: relative;
  overflow: hidden;
  height:40px;
  font-size:20px;
  width:100%;
}

.topnav ul
{
	float:none;
	display:block;
	list-style-type:none;
	padding:0px;
	margin-top:0px;
	height:100%;

}

.topnav ul li a
{
	display:block;
	float:left;
	background:#3081f2;
	text-align:center;
	width:198px;
	height:40px;
	padding-top:5px;
	color:#e5e81c;
	text-decoration:none;
	border: 1px solid navy;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 2px 3px gray;
	-moz-box-shadow: 0px 2px 3px gray;
	-webkit-box-shadow: 0px 2px 3px gray;
}

.topnav ul li a:hover
{
	background: #4192f3;
}

#content
{
	float:left;
	padding:20px;
	width:780px;
	height:600px;
	background-color:#9fcdf5;
	color:black;
	font-family: 'Raleway', sans-serif;
	font-size:10px;
	overflow:auto;
}

#panelboczny
{
	float:left;
	width:160px;
	height:600px;
	padding:20px 10px;
	background-color:#5d98f0;
}

#status
{
	clear:both;
	width:140px;
	height:40px;
	padding:5px;
	background-color:#2973e3;
	border-radius:10px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
}	
#zegar
{
	clear:both;
	width:140px;
	height:200px;
	padding:5px;
	margin-top:10px;
	margin-bottom:10px;
	background-color:#2973e3;
	border-radius:10px;
	margin-left:auto;
	margin-right:auto;
}

#footer
{
	clear:both;
	background-color:#0055BB;
	color: white;
	text-align:center;
	height:30px;
	padding:3px;
}

h1 
{
	font-size:30px;
	text-align:center;
}

h2
{
	font-size:20px;
	text-align:center;
}

h3
{
	font-size:15px;
	text-align:justify;
}

h6
{
		font-size:12px;
}

